* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*--------header styles start---------*/
.hidden{
  display: none;
}

.header {
  width: 100%;
  min-height: 50px;
background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.pages {
  width: 30%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.pages-ul {
  display: none;
  font-family: cursive;
}
.pages-ul > a {
  text-decoration: none;
  color: black;
}
.li-3 {
  color: #ffffff;
  position: relative;
  font-family: cursive;
}
.pages .li3:hover{
  color: yellow;
}

.pages .li-3:hover .li3-ul {
  display: block;
  width: 150px;
  padding: 0%;
  text-align: start;
  background-color: rgba(255, 248, 225);
  color: black;
  box-shadow: 0 0 6px 3px rgb(0 0 0 / 10%);
  position: absolute;
  top: 90px;
  z-index: 3;
}


.pages-ul > a:hover,
.pages-ul > p:hover {
  color: #f6600f;
}
.pages > li > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-size: 100%;
  text-align: center;
}
.li3-ul>li>a{
  text-decoration: none;
  font-family: cursive;
  color: black;
 
}

.li3-ul {
  display: none;
  list-style: none;
  background-color: #4e4d4b;
  flex-direction: column;
  justify-content: center;
}
.li3-ul>li{

  padding: 4% 1% 2% 18%;

 height: 50px;
}
.li3-ul>li:nth-child(4){
  padding-top: 10%;
}

.pages > li {
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages > li:first-child {
  text-align: right;
}

.pages > li:last-child {
  text-align: left;
}

.pages > li > a:active,
.pages > li > a:hover,
.li-3:hover,
.li3-ul>li>a:hover,
.li3-ul>li:hover,
.reg-icon:hover{
  color: #f6600f;
  cursor: pointer;
}

.title {
  width: 55%;
  color: white;
  margin-left: 10px;
  font-family: cursive;
}
.title>h4{
  font-size: 20px;
}

.logo-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 44px;
  width: 50px;
}

.wrap {
  color: #222;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clip-gradient {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: orange;
  width: 56px;
  height: 50px;
  position: relative;
  animation: logoanimation 5s infinite;
}

.clip-border {
  clip-path: polygon(25% 0%, 76% 1%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: white;
  width: 50px;
  height: 44px;
  position: absolute;
  background-image: url("");
  left: 3px;
  top: 3px;
}

@keyframes logoanimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reg-icon-container {
  width: 10%;
  display: flex;
  justify-content: end;
}

.reg-icon {
  color: white;
  font-size: 30px;
}



/*--------header styles end---------*/

/* --------------section- start------------- */

.product-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: cursive;
  background-color: #fff8e1cc;
  padding-top: 120px;
}
.product-item{
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: black;
}
.product-img-container:hover{
  transform: scale(1.2);
}
.product-item> div:nth-child(2){
  margin: 0 3%
}

.product-img-container {
  width: 100px;
  height: 100px;  
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 20px;
}
.product-item-img{
  width: 70px;
  height: 70px;
  
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.img-container {
  padding: 5% 2%;
  background-color: #fff8e1cc;
}
.img-container > div > p {
  display: none;
}
.img-container > div:hover p {
  width: 100%;
  display: block;
  color: white;
  position: absolute;
  top: 140px;
  left: 0;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
.img-container > div:hover {
  background-color: rgba(255, 203, 134, 0.9);
  position: relative;
}
.aboutus-img:hover {
  opacity: 0.5;
}

.aboutus-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  /* margin: 20px 10px; */
}

.section-about-us{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #fff8e1cc;
  color: black;
}

.section-about-us>h2{
  text-align: center;
  font-family: cursive;
  background-color: #fff8e1cc;
  
}

.section-aboutus-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.animacia-container{
  width: 40%;
  padding: 4%;
}
.history-container{
  width: 45%;
  background-color: #fff8e1cc;
}
.history-container>p{
  font-family: cursive;
  background-color: #fff8e1cc;
}
.box {
  transform: perspective(1000px)rotateZ(90deg);
  width: 199px;
  height: 150px;
  transform-style: preserve-3d;
  background-color:rgba(225, 225, 225, 0) ;
 
}
.box>div {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: animation-1 5s linear infinite;
}
.box>div>span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(225, 225, 225, 0);
    border-radius: 20px;
}

.spiner-imges{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: rotateZ(-90deg);
  
}
.box>div>span:nth-child(1){
transform: rotateX(0deg) translateY(99px);


}
.box>div>span:nth-child(2){
  transform: rotateX(45deg) translateY(99px);
  
}
.box>div>span:nth-child(3){
  transform: rotateX(90deg) translateY(99px);
  

}
.box>div>span:nth-child(4){
  transform: rotateX(135deg) translateY(99px);
  
}

.box>div>span:nth-child(5){
  transform: rotateX(180deg) translateY(99px);
  
}
.box>div>span:nth-child(6){
  transform: rotateX(225deg) translateY(99px);
  
}
.box>div>span:nth-child(7){
  transform: rotateX(270deg) translateY(99px);
  
}
.box>div>span:nth-child(8){
  transform: rotateX(315deg) translateY(99px);
  
}
@keyframes animation-1{
    from{
        transform: perspective(1000px)rotateX(0deg);
    }
    to{
        transform: perspective(1000px)rotateX(359deg);
    }
}
/* --------------section-end------------- */

/*--------footer styles start---------*/
.footer {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  padding: 4%;
  justify-content: space-around;

}

.social-link-container {
  display: flex;
  flex-direction: column;
}
 .social-link-container:hover .social-link-container>i {
   background-color: #f6600f;
 }
.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-link {
  display: flex;
  padding-left: 5%;
}

.social-icon {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}
.social-icon:hover{
  color: #f6600f;
}
.shop-info {
  display: flex;
  flex-direction: column;
}

.shop-info > a {
  font-family: cursive;
  text-decoration: none;
  color: white;
}
.shop-info>a:hover{
  color: #f6600f;
}

.shop-info-2 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.shop-info-2 > div {
  display: flex;
  margin: 5px;
}

.shop-info-2 > div > span {
  font-family: cursive;
  color: white;
}

.footer-icon {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

.footer-item {
  height: 120px;
  justify-content: space-between;
}

.footer-item-inner:hover > i, 
.footer-item-inner:hover > span {
  cursor: pointer;
  color: #f6600f;
}
/*--------footer styles end---------*/